{% extends "base.html.twig" %}

{% block title %}
	{{product.title}}
	- Marsyclebook

{% endblock %}

{% block body %}
	<div class="container">

		<div class="col">
			<div class="card shadow-sm">


				<div class="card-body">
					<h3>
						Details de
						{{product.title}}
					</h3>

					{% for image in product.images %}
						<div>
							<img src="{{ asset('images/products/mini/300x300-' ~ image.name ) }}" alt="Image" width="150">
						</div>
					{% endfor %}


					<p class="card-text">
						Categorie:


						{{product.categories.name}}

					</p>

					<p class="card-text">
						{{product.author}}
					</p>


					<p class="card-text">
						{{product.genre}}
					</p>


					<p class="card-text">
						{{product.price/100}}

						EUR</p>
					<p class="card-text">
						{{product.inStock}}

						in stock</p>


					{% if product.inStock >0 %}

						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-outline-secondary">
									<a class="" style="text-decoration:none" href=" {{ path('add_to_cart', {id: product.id}) }}  ">Acheter le produit</a>
								</button>


							</div>
						</div>

					{% else %}
						<div class="d-flex justify-content-between align-items-center">
							Not in stock
							<button type="button" class="btn btn-sm btn-outline-secondary">
								<a class="" style="text-decoration:none" href=" {{path('index' )}}  ">Retour tout livres</a>
							</button>

						</div>
					{% endif %}


				</div>
			</div>
		</div>

	</div>


{% endblock %}
