{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}

	{# CAROUSEL #}
	<div id="carouselExample" class="carousel slide mb-5">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="{{asset('images/pb2.jpg')}} " class="d-block w-100" style="height:560px;" alt="...">


			</div>
			<div class="carousel-item">
				<img src="{{asset('images/pb2.jpg')}}" class="d-block w-100" style="height:560px;" alt="...">
			</div>
			<div class="carousel-item">
				<img src="{{asset('images/pb2.jpg')}}" class="d-block w-100" style="height:560px;" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	{# CAROUSEL END#}


	<h4>NOS MEILLEURES VENTES</h4>
	<div class="album py-5 bg-light">
		<div class="container">

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-2">

				{% for item in items %}
					<div class="col">
						<div class="card shadow-sm">
							<img class="card-img-top" src="{{asset('images/livre1.png')}}" alt="Card image cap">

							<div class="card-body">
								<p class="card-text">
									{{item.titre}}</p>

								<p class="card-text">
									{{item.auteur}}</p>


								<p class="card-text">
									{{item.genre}}</p>


								<p
									class="card-text">
									{# {{item.price}} #}
									EUR</p>

		<div class="d-flex justify-content-between align-items-center">
			<div class="btn-group">
				<button type="button" class="btn btn-sm btn-outline-secondary">
					<a class="" style="text-decoration:none" href="{{ path('produit', {'id': item.id}) }}">Voir le produit</a>


				</button>
			</div>
			<small class="text-muted">9 mins</small>
		</div>
	</div>
</div>
</div>
{% endfor  %}


				{# <div class="col">
																																																													<div class="card shadow-sm">
																																																														<img class="card-img-top" src="{{asset('images/livre2.png')}}" alt="Card image cap">
																																																								
																																																														<div class="card-body">
																																																															<p class="card-text">
																																																																Titre de livre</p>
																																																															<p class="card-text">
																																																																Author</p>
																																																															<p class="card-text">
																																																																Genre</p>
																																																															<p class="card-text">
																																																																10 EUR</p>
																																																															<div class="d-flex justify-content-between align-items-center">
																																																																<div class="btn-group">
																																																																	<button type="button" class="btn btn-sm btn-outline-secondary">Voir le produit</button>
																																																																</div>
																																																																<small class="text-muted">9 mins</small>
																																																															</div>
																																																														</div>
																																																													</div>
																																																												</div>
																																																								
																																																								
																																																												<div class="col">
																																																													<div class="card shadow-sm">
																																																														<img class="card-img-top" src="{{asset('images/livre3.png')}}" alt="Card image cap">
																																																								
																																																														<div class="card-body">
																																																															<p class="card-text">
																																																																Titre de livre</p>
																																																															<p class="card-text">
																																																																Author</p>
																																																															<p class="card-text">
																																																																Genre</p>
																																																															<p class="card-text">
																																																																10 EUR</p>
																																																															<div class="d-flex justify-content-between align-items-center">
																																																																<div class="btn-group">
																																																																	<button type="button" class="btn btn-sm btn-outline-secondary">Voir le produit</button>
																																																																</div>
																																																																<small class="text-muted">9 mins</small>
																																																															</div>
																																																														</div>
																																																													</div>
																																																												</div>
																																																								
																																																								
																																																												<div class="col">
																																																													<div class="card shadow-sm">
																																																														<img class="card-img-top" src="{{asset('images/livre4.jpg')}}" alt="Card image cap">
																																																								
																																																								
																																																														<div class="card-body">
																																																															<p class="card-text">
																																																																Titre de livre</p>
																																																															<p class="card-text">
																																																																Author</p>
																																																															<p class="card-text">
																																																																Genre</p>
																																																															<p class="card-text">
																																																																10 EUR</p>
																																																															<div class="d-flex justify-content-between align-items-center">
																																																																<div class="btn-group">
																																																																	<button type="button" class="btn btn-sm btn-outline-secondary">Voir le produit</button>
																																																																</div>
																																																																<small class="text-muted">9 mins</small>
																																																															</div>
																																																														</div>
																																																													</div>
																																																												</div>
																																																								
																																																								
																																																												<div class="col">
																																																													<div class="card shadow-sm">
																																																														<img class="card-img-top" src="{{asset('images/livre5.jpg')}}" alt="Card image cap">
																																																								
																																																														<div class="card-body">
																																																															<p class="card-text">
																																																																Titre de livre</p>
																																																															<p class="card-text">
																																																																Author</p>
																																																															<p class="card-text">
																																																																Genre</p>
																																																															<p class="card-text">
																																																																10 EUR</p>
																																																															<div class="d-flex justify-content-between align-items-center">
																																																																<div class="btn-group">
																																																																	<button type="button" class="btn btn-sm btn-outline-secondary">Voir le produit</button>
																																																																</div>
																																																																<small class="text-muted">9 mins</small>
																																																															</div>
																																																														</div>
																																																													</div>
																																																												</div>
																																																								
																																																								
																																																												<div class="col">
																																																													<div class="card shadow-sm">
																																																														<img class="card-img-top" src="{{asset('images/livre6.jpg')}}" alt="Card image cap">
																																																								
																																																								
																																																														<div class="card-body">
																																																															<p class="card-text">
																																																																Titre de livre</p>
																																																															<p class="card-text">
																																																																Author</p>
																																																															<p class="card-text">
																																																																Genre</p>
																																																															<p class="card-text">
																																																																10 EUR</p>
																																																															<div class="d-flex justify-content-between align-items-center">
																																																																<div class="btn-group">
																																																																	<button type="button" class="btn btn-sm btn-outline-secondary">Voir le produit</button>
																																																																</div>
																																																																<small class="text-muted">9 mins</small>
																																																															</div>
																																																														</div>
																																																													</div>
																																																												</div>
																																																								
																																																								
																																																												<div class="col">
																																																													<div class="card shadow-sm">
																																																														<img class="card-img-top" src="{{asset('images/livre7.jpg')}}" alt="Card image cap">
																																																								
																																																								
																																																														<div class="card-body">
																																																															<p class="card-text">
																																																																Titre de livre</p>
																																																															<p class="card-text">
																																																																Author</p>
																																																															<p class="card-text">
																																																																Genre</p>
																																																															<p class="card-text">
																																																																10 EUR</p>
																																																															<div class="d-flex justify-content-between align-items-center">
																																																																<div class="btn-group">
																																																																	<button type="button" class="btn btn-sm btn-outline-secondary">Voir le produit</button>
																																																																</div>
																																																																<small class="text-muted">9 mins</small>
																																																															</div>
																																																														</div>
																																																													</div>
																																																												</div>
																																																								 #}

				{# <div class="col">
																																																													<div class="card shadow-sm">
																																																														<img class="card-img-top" src="{{asset('images/livre8.jpg')}}" alt="Card image cap">
																																																								
																																																														<div class="card-body">
																																																															<p class="card-text">
																																																																Titre de livre</p>
																																																															<p class="card-text">
																																																																Author</p>
																																																															<p class="card-text">
																																																																Genre</p>
																																																															<p class="card-text">
																																																																10 EUR</p>
																																																															<div class="d-flex justify-content-between align-items-center">
																																																																<div class="btn-group">
																																																																	<button type="button" class="btn btn-sm btn-outline-secondary">Voir le produit</button>
																																																																</div>
																																																																<small class="text-muted">9 mins</small>
																																																															</div>
																																																														</div>
																																																													</div>
																																																												</div> #}


			</div>
		</div>
	</div>
{% endblock %}
